@import "~bulma/bulma";
@import "components/projects/main";
@import "components/coupons/coupons";
@import "components/chat/chat";
@import "../variables";
.main-page__title{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

@media screen and (max-width: $desktop){
  .container--with-paddings{
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 1087px){
.navbar-menu.is-active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
}
