@import "~bulma/bulma";
@import "components/projects/main";
@import "components/coupons/coupons";
@import "../variables";
.main-page__title{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
