@media screen and (max-width: $tablet){
  .reset_table{
    width: inherit!important;
    border: none!important;
    padding: 0!important;
  }
  .coupon-table-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    padding: 1.25rem;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
  }
  .coupon-table-row:last-child{
    margin-bottom: 0;
  }
  .coupon-table-row__code{
    font-size: 2rem;
    display: block;
    width: 100%!important;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
    border: none!important;
    @extend .reset_table
  }
  .coupon-table-row__type{
    @extend .reset_table;
    width: 100%!important;
    order: 1;
    display: block;
    margin-top: -1.25rem;
    margin-bottom: 1.5rem;
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
  }
  .coupon-table-row__price{
    order: 2;
    @extend .reset_table;
    margin-bottom: 1.5rem;
  }
  .coupon-table-row__actual-price{
    order: 3;
    @extend .reset_table;
    margin-bottom: 1.5rem;
  }
  .coupon-table-row__value{
    order: 4;
    @extend .reset_table;
    margin-bottom: 1.5rem;
  }
  .coupon-table-row__description{
    order: 5;
    @extend .reset_table;
    width: 100%!important;

  }
}