@import "~bulma/bulma";

.admin-layout{
  display: grid;
  grid-template-columns: [panel] 300px [main-section] 900px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
          "admin-header admin-header"
          "admin-panel admin-page"
          "admin-footer admin-footer";
  padding-bottom: 50px;
}

@import "components/admin-header";
@import "components/admin-page";
@import "components/admin-panel";

@media screen and (max-width: $tablet){
  .container--with-paddings{
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 1087px){
  .navbar-menu.is-active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
}